.head_container{
    display: flex;
    background-color: rgb(12, 12, 43);
    padding: 1%;
    align-items: center;
}
.head_container > div{
    flex-basis: 5%;
    color: white;
    font-size : 20px;
    margin-left: 1%;
    
}

.signup_box{
    background-color: blue;
    border-radius:20px;
    padding: 1%;
    height: 25px;
    width: 100px
}
