.outerbox{
    display: flex;
    height: 200px;
    width: 40%; 
    margin-left: 30px;
    border: 1px dotted black;
}

.outerbox>div{
    display: flex;
    height: 200px;
    flex-basis: 40%;
    /* justify-content: space-between;  */
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px dotted black;
}

/* .outerbox>div>div{
   
} */

