
            .review{
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
                grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
                grid-gap: 10px;
                              
            }
            .report{
                grid-area: 2/2/2/14;
                font-family: Sailec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif; 
                font-size: 12px;
                position: relative;
            }
            .report p{
                font-size: 12px;
                line-height: 0px;
            }
            .report h5{
                font-size: 12px;
                line-height: 0px;
                font-weight: normal;
                margin-bottom: 35px;
            }
            .reviewImage{
                grid-area: 2/12/2/13;

            }
            
            .review a{
                color: rgb(90, 153, 224);
            /* background-color: whitesmoke; */

            }
            .greenTick{
                justify-content: baseline;
                align-items: baseline;
            }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .report{
        grid-area:14/2/12/2;
       
    }
    .reviewImage{
        z-index: 2;
        grid-area: 2/2/2/14;
        width: 550px;
    }

}
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .report{
        
    }
    .reviewImage{
        grid-area: 2/2/2/14;
        
        width: 500px;
    }
 }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .report{
        grid-area:14/2/14/2;
        
    }
    .reviewImage{
        grid-area: 2/2/2/14;
        width: 500px;
    }
}
 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

    .report{
        grid-area: 2/2/2/14;
}
.reviewImage{
    grid-area: 2/12/2/13;

}
}