#pavitra {
    width: 60%;
    height: 600px;
    /* text-align: center; */
    margin: auto;
}
#pavitra h1{
    text-align: center;
    margin-top: 40px;
}

#pavitra h3{
    margin-top: 35px;
    font-family:Sailec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.posture_1 {
    width: 300px;
    height: 440px;
    border: 1px solid rgb(240, 238, 238);  
    text-align: center; 
    border-top: 18px solid rgb(29, 181, 241);
    border-radius: 20px;
    box-shadow: rgba(212, 212, 212, 0.356) 10px 10px 20px 10px;
    font-family:Sailec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.posture_1 img:nth-child(2){
    width: 120px;
    margin-top: 15px;
}
.posture_1 ul {
    list-style: none;
    text-align: left;
    font-size: 16px;
    margin-top: 30px;
}
.posture_1 ul img {
    margin-right: 15px ;
    text-align: justif;
}

.posture_1 p {
    color: rgb(27, 155, 27);
    font-size: 16px;
    margin-top: 55px;
    font-family:Sailec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.posture_1 .middle_p{
    margin-top: 70px;
}
.posture_1 .last_p{
    margin-top: 20px;
}