*{
    font-family: Sailec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
   
}

.aliceblue{
    background-color: rgb(232, 236, 238,0.2);
   
}
#right_margin{
    margin-right: 1%;
}

.margin_extra{
    height: 100px;
    background-color: rgb(232, 236, 238,0.2);
}
h1{
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -.01em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;
}
.benefit_container{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.benefit_container > div{
    position: relative;
    flex-basis: 25%;
    background-color: white;
    
    height: 600px;
    margin: 2%;
    border-radius: 10px ;
   
}
.benefit_absolute_img{
       position: absolute;
       height: 150px;
       width: 150px;
       left: 27%;
       top: -10%;
}
img{
    width: 100%;
    height: 100%;
}
.benefit_absolut_first_pink_text{
    font-size: 20px;
    color: #f01f7a;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.0025em;
    top: 15%;
    left: 41%;;
    position: absolute;
}
.benefit_free_text{
    position: absolute;
    top: 25%;
    left: 37%;;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    color: #0f1b29;
}   
.benefit_forever_text{
    position: absolute;
    top: 35%;
    left: 41%;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 700;
    color: #394754;
}
.benefit_install_for_free{
    background-color: #0088e9;
    color: white;
    margin: 18px 0 24px;
    width: 130px;
    height: 20px;
    border-radius: 28px;
    padding:20px 25px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    text-decoration: none;
}
.benefit_install_for_free:hover {
    background-color: #0071c2;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
.benefit_silver_line{
    width: 80%;
    height: 0.2%;
    background-color: gray;
    opacity: 0.4;
    position: absolute;
    top: 58%;
    left: 8%;
}
.benefit_list{
    position: absolute;
    top: 60%;
    left: 1%;
    width: 300px;
    height: 170px;
   
}
.benefit_list > ul >img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: silver;
}
.benefit_list_text{
    line-height: 1.5;
    color: #606060;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;

}
.benefit_lower_text{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 24px;
    color: #68737e;
    position: absolute;
    top: 93%;
    left: 10%;
}
.benefit_absolut_first_pink_text_2{
    font-size: 20px;
    color: #f01f7a;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.0025em;
    top: 15%;
    left: 31%;;
    position: absolute;
}
.benefit_free_text_2{
    position: absolute;
    top: 25%;
    left: 33%;;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    color: #0f1b29;
}
.benefit_monthly_paid_text{
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 700;
    color: #394754;
}
.benefit_lower_text_2{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 24px;
    color: #68737e;
    position: absolute;
    top: 95%;
    left: 10%;
}
.benefit_absolut_first_pink_text_3{
    font-size: 20px;
    color: #f01f7a;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.0025em;
    top: 15%;
    left: 32%;;
    position: absolute;
}
.benefit_absolute_img_3{
    position: absolute;
    height: 150px;
    width: 200px;
    left: 22%;
    top: -10%;
}
.benefit_forever_text_3{
    position: absolute;
    top: 35%;
    left: 33%;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 700;
    color: #394754;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 992px) {

    .benefit_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2%;
    }
    .benefit_container > div{
        position: relative;
        flex-basis: unset;
        background-color: white;
        max-width: 350px;
        width: 100%;
        height: 600px;
        margin: 10%;
        border-radius: 10px ;
       
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 