
.intro{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row ;
    justify-content: center;
    background-color: rgb(232, 236, 238,0.3);
    border: 1px solid black;
}

h1{
    font-weight: 1000;
}

.intro>div{   
    margin: auto auto;
    height: auto;
    border: 1px solid black;
}

.get_button{
    margin-top: 10px;
    background-color: #0088e9;
    color: #fff;
    border-radius: 24px;
    width: 120px;
    cursor: pointer;
    height: 48px;
    border: none;
}

.laptop_img{
    background-color: aliceblue;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 760px) {
    .intro{
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: rgb(232, 236, 238,0.3);
         
    }

    .intro>div{   
        margin: auto auto;
        height: auto;
        flex-basis: unset;
        max-width:500px;
    }
} 

